@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
	margin:0;
	color:#edf3ff;
	background:#c8c8c8;
	background:url(https://images.hdqwalls.com/wallpapers/minimalistic-shapes-dark-neon-4k-54.jpg) fixed;
	background-size: cover;
	font:600 16px/18px 'Open Sans',sans-serif;
}

* {
    font-family: 'Ubuntu', sans-serif;
}